@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg : #1e272e;
    --main-colour : #0097e6 ;

}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row{
    margin: 0;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar li {
    margin-left: 2rem;
}

.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}
.navbar a {
    color: #fff;
    font-size: 1.8rem;
}
.navbar a:hover{
    color: var(--main-colour);
}

.navbar-toggler{
    background-color: grey;
}

.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite ;
    color: var(--main-colour);
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.main_header_left{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 1.4rem;
}
.main_header_left h1{
    font-size: 2.4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-colour);
}
 

.main_header_right{
    height: 40rem;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.temp_form {
    width: 60%;
    position: relative;
    margin: 5rem auto;
}

#cityName{
    width: 100%;
    padding: 1rem 5rem 1rem 1rem;
    background-color: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;

}
::placeholder{
    color: #bfc1c8;
}


.temp_form input[type="submit"]{

    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background-color: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
} 
.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color: white;
}

.tempInformation{
    width: 40rem;
    height: 25rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 1rem;
    font-family: "robboto",sans-serif;
}

.top_layer{
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}

.top_layer p {
    padding: 10px 10px 0px 10px;
    color: white;
    font-weight: 300;
    font-size: 1.6rem;
}

.main_layer{
    width: 100%;
    height: 80%;
    display: flex ;
    flex-direction: column;
    padding: 2rem;
}

.main_layer #city_name{  
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;

}


.main_layer .middle_layer {
    display: flex;
    justify-content: center;
    color: white;
}
.main_layer .maiddle_layer p , 
.main_layer .middle_layer {
    font-size: 7rem;
    font-weight: 900;
}


.fa{
    color: #009ad8;
    font-size: 7rem;
    font-weight: 900;
}

sup{
    font-size: 6rem;
    margin-top: -2rem;
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}


footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    margin: 0px;
    text-align: center;
    color: white;
    line-height: 5rem;
    font-size: 1.4rem;

}
@media(max-width:768px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem ;
    }
}

.bhautik{
    height: 400px;
    padding-top: 20px;
}
